* {
  /* border: 1px red solid; */
}

#root {
  margin: 0 auto;
  width: 1920px;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header * {
  width: 24rem;
}

.play-area {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 10px;
}

.poke-card {
  justify-content: center;
  border-radius: 5px;
}

.poke-card img {
  width: 16rem;
  margin: 5px;
}
